li {
    cursor: pointer;
}

.parent {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.ace-container {
    width:50%;
    height: 650px;
    display:inline-block;
    position:relative;
    display: flex;
    flex-direction: column-reverse;
}

#editor { 
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 49%;
    left: 0%;
    width: 100%;
    height: 90%;
}

.panel-heading {
    padding-bottom: 5%;
}